<p>
  <b>Body:</b>
  <%=h @content.body %>
</p>

<p>
  <b>Order:</b>
  <%=h @content.order %>
</p>

<p>
  <b>Panel:</b>
  <%=h @content.panel_id %>
</p>


<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>