
<% form_tag session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login', '', {:id => 'user_name'} %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->

<p><%= submit_tag 'Log in' %></p>
<% end -%>

 
<hr />

<% form_for :user, :url => users_path do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p>
  Is new user a Writer?<br />
  <%= f.radio_button(:admin, 't') %> Yes<br />
  <%= f.radio_button(:admin, 'f') %> No
</p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>


